body{
    text-align: center;
    font-family: 'arial';
    color: #ff3f5f;
}
.header{
    background-color: purple;
    color: white;
    text-align: left;
    font-size: 50px;
}
.cabeceraT{
    font-weight: bold;
    margin: 10px;
}